databases:
  - name: postgres
    ipAllowList: []
    databaseName: rails_capstone_production
    user: rails_capstone

services:
  - type: web
    name: rails_capstone
    env: ruby
    buildCommand: "./render-build.sh"
    startCommand: "bundle exec rails s"
    envVars:
      - key: DATABASE_URL
      - key: RAILS_MASTER_KEY
        sync: false

