<p><%= notice %></p>

<h1>Transactions</h1>

<div id="transactions">
  <% @atransactions.each do |atransaction| %>
    <%= render atransaction %>
  <% end %>
</div>

<%= link_to "Back", request.referer %>
<%= link_to "New transaction", new_category_atransaction_path %>