<%= stylesheet_link_tag "transactions_new" %>

<%= render "shared/navbar", category: params[:category_id] %>

<section class="new-transaction-section">
<%= render "form", atransaction: @atransaction %>

  <br>

  <div>
    <%# <%= link_to "Back to transactions", category_path(@category) %>
  </div>
</section>