<%= render "shared/navbar", category: params[:category_id] %>

<section>
  <%= render "form", atransaction: @atransaction %>

  <br>

  <div>
  <%# <%= link_to "Back to transactions", category_path(@category) %>
  </div>
</section>