<section class='splash-screen'>
    <h1>FinTrack</h1>
    <div class='buttons'>
        <%= link_to "LOG IN", new_user_session_path, class: "login-button" %>
        <%= link_to "SIGN UP", new_user_registration_path, class: "register-button" %>
    </div>
</section>